
{% import "../components/head.twig" as head %}
{% import "../components/scripts.twig" as scripts %}

<!DOCTYPE html>
<html>
{{ head.default() }}
<body>

    {% include '../components/modal.twig' %}

{{ scripts.default() }}
</body>
</html>   