.modal__socials {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    box-sizing: border-box;
    margin: 3rem 0;
    &__list {
        @include nl;
        display: flex;
        &__item {
            margin-left: 1.8rem;
        }
    }
    .icon {
        color: #707070;
        text-decoration: none;
        font-size: 2rem;
        padding: 1rem;
        border: 0.1rem solid #e6e6e6;
        border-radius: 50%;
        background-color: #fff;
        transition-property: background-color, color, border-color;
        transition-duration: 0.3s;
        &:hover {
            background-color: #000;
            color: #fff;
            border-color: transparent;
        }
    }
}